<!DOCTYPE html>
<html>
<head>
    <title>Création d'un carré ou d'un cercle dans un canvas</title>
</head>
<body>

<label>
    <input type="radio" id="radioCarre" name="forme" value="carre" onclick="resetCanvas()"> Carré
</label>
<label>
    <input type="radio" id="radioCercle" name="forme" value="rond" onclick="resetCanvas()"> Cercle
</label>

<canvas id="monCanvas" width="200" height="200" style="border:1px solid #000000;">
    Votre navigateur ne supporte pas le canvas.
</canvas>

<p id="tailleInfo"></p>

<script src="{{ url_for('static', filename='js/securite.js') }}"></script>

</body>
</html>
